.header{
   margin: 1rem;
   padding: 1rem;
   background-color: #230052;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
   border-radius: 12px;
   text-align: center;
   color: white;
}

.mainDiv{
   background-color: blanchedalmond;
   padding: 1rem;


}

input{
   display: block;
  width: 50%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin: auto;
}